services:
  backend:
    build:
      context: ./web-aggregator
      dockerfile: Dockerfile
    container_name: web-aggregator-back
    env_file:
      - ./web-aggregator/.env
    ports:
      - "3000:3000"
    depends_on:
      - mysql
    networks:
      - app-network

  frontend:
    build:
      context: ./front-end/web-aggregator-front
      dockerfile: Dockerfile
    container_name: web-aggregator-front
    ports:
      - "5173:80"
    networks:
      - app-network

  mysql:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: web_aggregator
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - app-network

volumes:
  mysql-data:

networks:
  app-network: